{{ block "facultad" . }}
    <header id="header">
        <h3>Own wiki</h3>
    </header>
    <main id="main">
        <div class="sidebar contenido" id="left-sidebar"></div>
        <div class="contenido" id="centro" hx-swap="innerHTML">
            <div 
                hx-target="#contenido"
                hx-trigger="revealed"
                hx-get="{{ EndpointURL 'Facultad/Carreras' }}"
                hx-swap="delete">
                Cargando...
            </div>
        </div>
        <div class="sidebar contenido" id="right-sidebar"></div>
    </main>
{{ end }}

{{ block "carreras" . }}
    <h1 style="display: flex;"> Facultad </h1>
    <hr style="margin-bottom: .5em;">
    <div style="display: flex; flex-direction: row; padding-left: .5em;">
        <h4 hx-target="#body" hx-get="{{ PathViewURL "Root" }}"> Own wiki </h4> 
    </div>
    <hr style="margin-top: .5em;">
    <div style="display: grid;">
        {{ range .Carreras }}
            <h3 hx-target="#centro" hx-get="{{ PathViewURL "Carrera" .id }}">
                {{ .nombre }}
            </h3>
        {{ end }}
    </div>
{{ end }}

{{ block "materias" . }}
    <h1 style="display: flex;"> {{ .Carrera.nombre }} </h1>
    <hr style="margin-bottom: .5em;">
    <div style="display: flex; flex-direction: row; padding-left: .5em;">
        <h4 hx-target="#body" hx-get="{{ PathViewURL "Root" }}"> Own wiki </h4> 
            <p style="padding: 0 .5em 0 .5em;"> > </p>
        <h4 hx-target="#centro" hx-get="{{ PathViewURL "Facultad" }}"> Facultad </h4>
    </div>
    <hr style="margin-top: .5em;">

    <div id="elementos" style="display: grid;">
        {{ range  .Materias }}
            {{ if eq .Tabla "Materias" }}
                <div hx-target="#centro" hx-get="{{ PathViewURL "Materia" .refCarrera.id .id }}" style="background-color: blue;">
                    <h3>
                        {{ .nombre }}
                    </h3>
                    <hr>
                    {{ range .refCorrelativas }} 
                        <h4>
                            {{ .refCorrelativa.nombre }}
                        </h4>
                    {{ end }}
                </div>
            {{ else }}
                <div hx-target="#centro" hx-get="{{ PathViewURL "Materia" .refCarrera.id .refMateria.id }}" style="background-color: green;">
                    <h3>
                        {{ .nombre }}
                    </h3>
                    {{ range .refCorrelativas }} 
                        <h4>
                            {{ .refCorrelativa.nombre }}
                        </h4>
                    {{ end }}
                </div>
            {{ end }}
        {{ end }}
    </div>
{{ end }}

{{ block "temas" . }}
    {{ $idCarrera := .Materia.refCarrera.id }}
    {{ $idMateria := .Materia.id }}
    <h1 style="display: flex;"> {{ .Materia.nombre }} </h1>
    <hr style="margin-bottom: .5em;">
    <div style="display: flex; flex-direction: row; padding-left: .5em;">
        <h4 hx-target="#body" hx-get="{{ PathViewURL "Root" }}"> Own wiki </h4> 
            <p style="padding: 0 .5em 0 .5em;"> > </p>
        <h4 hx-target="#centro" hx-get="{{ PathViewURL "Facultad" }}"> Facultad </h4>
            <p style="padding: 0 .5em 0 .5em;"> > </p>
        <h4 hx-target="#centro" hx-get="{{ PathViewURL "Carrera" $idCarrera }}"> {{ .Materia.refCarrera.nombre }} </h4>
    </div>
    <hr style="margin-top: .5em;">
    {{ range .Temas }}
        <h3 hx-target="#centro" hx-get="{{ PathViewURL "TemasMateria" $idCarrera $idMateria .id }}">
            {{ .nombre }}
        </h3>
    {{ end }}
{{ end }}

{{ block "notas" . }}
    {{ $idCarrera := .Tema.refMateria.refCarrera.id }}
    {{ $idMateria := .Tema.refMateria.id }}
    <h1 style="display: flex;"> {{ .Tema.nombre }} </h1>
    <hr style="margin-bottom: .5em;">
    <div style="display: flex; flex-direction: row; padding-left: .5em;">
        <h4 hx-target="#body" hx-get="{{ PathViewURL "Root" }}"> Own wiki </h4> 
            <p style="padding: 0 .5em 0 .5em;"> > </p>
        <h4 hx-target="#centro" hx-get="{{ PathViewURL "Facultad" }}"> Facultad </h4>
            <p style="padding: 0 .5em 0 .5em;"> > </p>
        <h4 hx-target="#centro" hx-get="{{ PathViewURL "Carrera" $idCarrera }}"> {{ .Tema.refMateria.refCarrera.nombre }} </h4>
            <p style="padding: 0 .5em 0 .5em;"> > </p>
        <h4 hx-target="#centro" hx-get="{{ PathViewURL "Materia" $idCarrera $idMateria }}"> {{ .Tema.refMateria.nombre }} </h4>
    </div>
    <hr style="margin-top: .5em;">
    <hr>
    <div id="elementos" style="display: grid;">
        {{ template "notas" . }}
    </div>
{{ end }}

{{ block "notas" . }}
    {{ range  .Notas }}
        <h3> {{ .nombre }} </h3>
    {{ end }}
{{ end }}
