* {
    margin: 0;
    padding: 0;
}

body {
    background: #1e1e1e;
}

#header {
    height: 5rem;
    padding-left: 2rem;
    background-color: #7e47ec;
    color: #dadada;
    align-content: center;
}

#main {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 10rem);
}

.contenido {
    padding-top: 2rem;
    color: #dadada;
}

.sidebar {
    width: 20vw;
}

#centro {
    width: 60vw;
}

.tempFlecha {
    stroke: #dadada;
    width: 2rem;
    height: 2rem;
}