root = "."
tmp_dir = "tmp"

[build]
cmd = "go build -o ./tmp/main ejecucion/main.go"
bin = "/tmp/main"
full_bin = "APP_ENV=dev APP_USER=air ./tmp/main"
args_bin = ["-c", "/var/configuracion"]

include_dir = ["/var/configuracion"]
include_ext = ["go", "tpl", "tmpl", "html"]
exclude_dir = ["encoding", "tmp", "vendor"]
exclude_unchanged = true

log = "air.log"

poll = true
poll_interval = 500 # ms
delay = 0 # ms

stop_on_error = true
send_interrupt = false
kill_delay = 500 # nanosecond

rerun = false
rerun_delay = 500

[log]
time = false
main_only = false
silent = false

[color]
main = "magenta"
watcher = "cyan"
build = "yellow"
runner = "green"

[misc]
clean_on_exit = true

[screen]
clear_on_rebuild = true
keep_scroll = true

[proxy]
enabled = true
proxy_port = 8090
app_port = 42069