name: Testing

on: 
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        
      - name: Set up Go
        uses: actions/setup-go@v5 
        with:
          go-version-file: "${{ github.workspace }}/go.work"
          cache-dependency-path: "**/*.sum"

      # We need to regenerate the proto files to golang files
      - name: Install protoc
        uses: arduino/setup-protoc@v3
        with:
          version: '25.x' 

      - name: Install Go protoc plugins
        run: |
          go install google.golang.org/protobuf/cmd/protoc-gen-go@latest
          go install google.golang.org/grpc/cmd/protoc-gen-go-grpc@latest

      - name: Generate Go code from .proto files
        run: make -C ${{ github.workspace }}/core/api build_proto
        
      # Run all the tests in all directories
      - name: Test
        run: go test ${{ github.workspace }}/core/...