{{ block "facultad" . }}
    <h1 style="display: flex;"> Facultad </h1>
    <hr>
    {{ range .Carreras }}
        <h3 hx-target="#centro" hx-get="{{ PathViewURL .url }}">
            {{ .nombre }}
        </h3>
    {{ end }}
{{ end }}

{{ block "carrera" . }}
    <h1 style="display: flex;"> {{ .Carrera.nombre }} </h1>
    <hr>
    <div style="display: flex; flex-direction: row;">
        <h5 hx-target="#centro" hx-get="{{ PathViewURL .EleccionFacultad }}"> Facultad > </h5>
    </div>
    <hr>
    {{ range .Materias }}
        <h3 hx-target="#centro" hx-get="{{ PathViewURL .url }}">
            {{ .nombre }}
        </h3>
    {{ end }}
    {{ range .MateriasEquivalente }}
        <h3 hx-target="#centro" hx-get="{{ PathViewURL .url }}">
            {{ .nombre }}
        </h3>
    {{ end }}
{{ end }}

{{ block "materia" . }}
    <h1 style="display: flex;"> {{ .Materia.nombre }} </h1>
    <hr>
    <div style="display: flex; flex-direction: row;">
        <h5 hx-target="#centro" hx-get="{{ PathViewURL .EleccionFacultad }}"> Facultad > </h5>
        <h5 hx-target="#centro" hx-get="{{ PathViewURL .EleccionCarrera }}"> {{ .Carrera.nombre }} </h5>
    </div>
    <hr>
    {{ range .Temas }}
        <h3>
            {{ .nombre }}
        </h3>
    {{ end }}
{{ end }}

{{ block "temaMateria" . }}
    <h1 style="display: flex;"> {{ .Tema.nombre }} </h1>
    <hr>
    <div style="display: flex; flex-direction: row;">
        <h5 hx-target="#centro" hx-get="{{ PathViewURL .EleccionFacultad }}"> Facultad > </h5>
        <h5 hx-target="#centro" hx-get="{{ PathViewURL .EleccionCarrera }}"> {{ .Carrera.nombre }} > </h5>
        <h5 hx-target="#centro" hx-get="{{ PathViewURL .EleccionMateria }}"> {{ .Materia.nombre }} </h5>
    </div>
    <hr>
    Notas del tema...
{{ end }}