{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Own Wiki</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js" integrity="sha384-Akqfrbj/HpNVo8k11SXBb6TlBWmXXlYQrCSqEWmyKJe+hDm3Z/B2WVG4smwBkRVm" crossorigin="anonymous"></script>
        <link rel="icon" type="image/x-icon" href="/imagenes/icono.ico">
        <link rel="stylesheet" href="/css/index.css">
    </head>
    <body id="body">
        <header id="header">
            <h3>Own wiki</h3>
        </header>
        <main id="main">
            <div class="sidebar contenido" id="left-sidebar"></div>
            <div class="contenido" id="centro" hx-swap="innerHTML">
                {{ template "root" . }}
            </div>
            <div class="sidebar contenido" id="right-sidebar"></div>
        </main>
    </body>
    </html>
{{ end }}

{{ block "root" . }}
    <h1 style="display: flex;"> 
        <p> Elecciones </p>
    </h1>
    <hr>
    <h3 hx-target="#body" hx-get="{{ PathViewURL "Facultad" }}"> Facultad </h3>
    <h3 hx-target="#body" hx-get="{{ PathViewURL "Cursos" }}"> Cursos </h3>
    <h3 hx-target="#body" hx-get="{{ PathViewURL "Colecciones" }}"> Colecciones </h3>
{{ end }}