{{ block "colecciones" . }}
    {{ template "titulo" .Minimo }}
    {{ template "path" .Path }}

    {{ range .Opciones }}
        {{ template "opcion" . }}
    {{ end }}
{{ end }}

{{ block "facultad" . }}
    {{ template "titulo" .Minimo }}
    {{ template "path" .Path }}

    {{ range .Opciones }}
        {{ template "opcion" . }}
    {{ end }}
{{ end }}

{{ block "cursos" . }}
    {{ template "titulo" .Minimo }}
    {{ template "path" .Path }}

    {{ range .Opciones }}
        {{ template "opcion" . }}
    {{ end }}
{{ end }}

{{ block "nota" . }}
    {{ template "titulo" .Minimo }}
    <p> Aca deberia haber texto </p>
{{ end }}